__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.dll

.venv/
venv/
env/
ENV/

*.env
.env.*

.prefect/
.flow/
*.orion/

.vscode/
*.code-workspace

*.log
logs/
*.out
*.err

.DS_Store
Thumbs.db

*.egg-info/
*.egg
dist/
build/
.eggs/

.ipynb_checkpoints/

.cache/
.mypy_cache/
.pytest_cache/

**/data/
**/tmp/
**/volumes/

clickhouse_data/
